.appWrapper{
display: grid;
grid-template-columns: 100px 1fr;
grid-template-areas: "header header"
                       "navBar main"
                      

}

.mainWrapper{
    background-color: rgb(183, 255, 0);
   
        grid-area: main;
        border: 1px solid red;
    
}

